<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Istikbal | API HEALTH CHECK STATUS</title>
    <link rel="icon" href="images/istikbal_logo_2.png" />
</head>
<body>
    <h1>Health Check</h1>

    <div id="healthStatus"></div>
     
    

</body>
</html>