@page
@model IndexModel
@{
    ViewData["Title"] = "Istikbal | Api Health Check Status";
}

<div class="text-center">
    <h1 class="display-4">API HEALTH CHECK STATUS</h1>
    <p> <a> Istikbal Health Check Status </a>.</p>
</div>
